@import "tailwindcss";


/* ------------------------------------------------------------------------------- */

/* Título de Resultados de Búsqueda */
.search-results-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Cuadrícula para mostrar resultados */
.search-results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}


/* ------------------------------------------------------------------------------- */


/* Fondo gris claro para destacar los recuadros */


/* Contenedor Principal */
.book-details-container {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

/* Portada del Libro y Botones */
.book-cover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #EFE6DD;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.book-cover-small {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.book-buttons {
  display: flex;
  gap: 0.3rem;
}

.book-buttons button {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Información del Libro */
.book-info-section {
  flex: 2;
  border: 1px solid #EFE6DD;
  padding: 1rem;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.book-title-large {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.book-author-large {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 1rem;
}

.book-edition {
  font-size: 1rem;
  color: #888;
  margin-bottom: 1rem;
}

.book-rating-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.book-status-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.book-status-detail {
  border: 1px solid #4CAF50;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #E8F5E9;
  color: #4CAF50;
}

.add-to-library {
  padding: 0.5rem;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Detalles adicionales */
.book-details-list {
  padding: 0;
  font-size: 0.95rem;
  color: #333;
}

.book-details-list p {
  margin-bottom: 0.5rem;
}

/* Sobre el Autor */
.author-section {
  flex: 1;
  padding: 1rem;
  border: 1px solid #EFE6DD;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.author-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.author-header h3 {
  margin-bottom: 0.6rem;
}

.author-header h5 {
  margin-bottom: 0rem;
}

.author-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.author-section h5 {
  margin-top: 0.6rem;
}

.other-books {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.mini-cover {
  width: 60px;
  height: auto;
  border-radius: 5px;
}


/* Sección de Citas */
.book-quotes-section {
  width: 260px;
  padding: 1rem;
  border: 1px solid #EFE6DD;
  border-radius: 8px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote-content {
  margin-top: 0.6rem;
}

.quote-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

/* .quote-navigation {
  display: flex;
  gap: 1rem;
} */

.quote-nav-button {
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

/* Sección de Sinopsis */
.book-synopsis-section {
  padding: 1rem;
  border: 1px solid #EFE6DD;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-top: 2rem;
}

.book-synopsis-section h3 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  color: #333;
}

.book-synopsis-section p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.quotes-and-reviews {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items:baseline;
}

/* Reseñas de la Comunidad */
.community-reviews-section {
  width: calc(100% - 280px);
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #EFE6DD;
  border-radius: 8px;
  background-color: #FFFFFF;
}








/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
